body {
    background-color: rgb(222, 255, 222);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px
}

h5.mylist {
    color: rgb(0, 0, 146);
}

#Nick {
    color: rgb(0, 101, 160);
    text-align: center;
}

#Thi {
    color: rgb(160, 59, 0);
    text-align: center;
}

#Chang {
    color: blueviolet;
    text-align: center;
}

#banana {
    height: 250px;
    width: 400px;
}

dt {
    color: orange
}

#gif {
    background-image: url("vesuvius-baby-baby.gif");
    height: 20%;
    width: 20%;
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: orangered;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: hotpink;
}